<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Site/Styles.css">
    <title>Airline</title>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="bg-img">
        <div class="container">
            <p class="titleText">Airline info</p>
            <div class="topnav">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("All flights", "AllInfo", "Airline")</li>
                    <li>@Html.ActionLink("News", "News", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
<style>
    .body-content {
        flex: 1 1 auto;
    }
</style>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<div class="wrapper">
        <foter>
            <div class="footer">
                <div class="foo"> <p>Main Academy© 2021 All Rights Reserved</p></div>
            </div>
        </foter>
    </div>*@
</body>
</html>

